app/bin/main/game/.DS_Store
app/bin/main/game/CommandProcessor.class
app/bin/main/game/Console2.class
app/bin/main/game/Console2$1.class
app/bin/main/game/Enemy.class
app/bin/main/game/Equipment.class
app/bin/main/game/Equipment$Attribute.class
app/bin/main/game/Equipment$EffectType.class
app/bin/main/game/Equipment$EquipmentTag.class
app/bin/main/game/Equipment$Item.class
app/bin/main/game/Equipment$Slot.class
app/bin/main/game/FightMessage.class
app/bin/main/game/FightService.class
app/bin/main/game/FightService$AttackResult.class
app/bin/main/game/FightService$BlockResult.class
app/bin/main/game/FightService$CastSpellInfo.class
app/bin/main/game/FightService$EnemyAttackResult.class
app/bin/main/game/FightService$PotionUseResult.class
app/bin/main/game/game2.iml
app/bin/main/game/GameManagerRevised.class
app/bin/main/game/Message.class
app/bin/main/game/PlayerRevised.class
app/bin/main/game/PlayerRevised$Attribute.class
app/bin/main/game/Quests.class
app/bin/main/game/Quests$Quest.class
app/bin/main/game/Quests$QuestState.class
app/bin/main/game/README.md
app/bin/main/game/Spell.class
app/bin/main/game/Statistics.class
app/bin/main/game/TxT Game design.pdf
app/bin/main/game/enums/EnemyType.class
app/bin/main/game/enums/SubStates.class
app/bin/main/game/enums/TownState.class
app/bin/main/game/screens/BaseScreen.class
app/bin/main/game/screens/FightScreen.class
app/bin/main/game/screens/ForestScreen.class
app/bin/main/game/screens/MainMenuScreen.class
app/bin/main/game/screens/RewardScreen.class
app/bin/main/game/screens/Screen.class
app/bin/main/game/screens/StatusScreen.class
app/bin/main/game/screens/TownScreen.class
app/bin/main/game/screens/WorldScreen.class
app/bin/main/game/spells/Fireball.class
app/bin/main/game/substates/StatusState.class
app/bin/main/game/templates/TemplateScreen.class
.gradle/file-system.probe
.gradle/8.8/gc.properties
.gradle/8.8/checksums/checksums.lock
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/dependencies-accessors/gc.properties
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/metadata.bin
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$JunitLibraryAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$JunitVersionAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JunitLibraryAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JunitVersionAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/sources/org/gradle/accessors/dm/LibrariesForLibs.java
.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileChanges/last-build.bin
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
app/bin/main/.DS_Store
app/src/.DS_Store
